<container>
  <spacer size="70"></spacer>
  <center>
    <a href="#">
      <img class="img" style="width:30px;height:30px" src="{{root}}assets/img/vk.png" alt="">
    </a>
    <a href="#">
      <img class="img" style="width:30px;height:30px" src="{{root}}assets/img/youtube.png" alt="">
    </a>
    <a href="#">
      <img class="img" style="width:30px;height:30px" src="{{root}}assets/img/telegram.png" alt="">
    </a>
  </center>
  <spacer size="24"></spacer>
  <wrapper class="footer">
    <row>
      <columns><h-line></h-line></columns>
    </row>
    <row>

      <columns small="12" large="6" valign="middle">
        <p class="small-float-center small-text-center text-left">С уважением, кадровый портал <br> интернет-агентства «Пиксель Плюс»</p>
      </columns>

      <columns small="12" large="6" valign="middle">
        <p class="phone small-float-center small-text-center text-right">
          <a href="tel:+74959895311">+7 495 989-53-11</a>
        </p>
        <p class="small-float-center small-text-center text-right">
          <a href="https://pixelplus.ru" target="_blank">www.pixelplus.ru</a>
        </p>
        <p class="small-float-center small-text-center text-right">
          <a href="mailto:team@pixelplus.ru">team@pixelplus.ru</a>
        </p>
      </columns>

    </row>
    <spacer size="4"></spacer>
  </wrapper>
</container>