<container>
  <wrapper class="header">
  <spacer size-sm="20" size-lg="6"></spacer>
    <row>
      <columns small="12" large="6" valign="middle">

        <a href="https://pixelplus.ru" target="_blank" class="hide-for-large">
          <img class="small-float-center" style="width:158px;height:auto" src="{{root}}assets/img/logo.png" alt="Пиксель Плюс">
        </a>

        <a href="https://pixelplus.ru" target="_blank" style="display:inherit" class="show-for-large text-pad-left">
          <img class="text-pad-left" style="width:158px;height:auto" src="{{root}}assets/img/logo.png" alt="Пиксель Плюс">
        </a>

      </columns>
      <columns small="12" large="6" valign="middle">

        <p class="small-float-center small-text-center text-right">
          <a class="phone" href="tel:+74959895311">+7 495 989-53-11</a>
        </p>
        <p class="small-float-center small-text-center text-right">
          <a href="https://pixelplus.ru" target="_blank">www.pixelplus.ru</a>
        </p>
        <p class="small-float-center small-text-center text-right">
          <a href="mailto:team@pixelplus.ru">team@pixelplus.ru</a>
        </p>

      </columns>
    </row>
    <row>
      <columns><h-line></h-line></columns>
    </row>
  </wrapper>
  <spacer size="24"></spacer>
</container>