<container>
  <wrapper class="main">
    <row>

      <columns>
        <h1 class="text-center" style="margin-bottom: 15px; font-size: 20px; font-weight: bold; line-height: 43px">Привет, Name!</h1>
        <center>
          {{#ifpage 'bday-1'}}
          <img class="float-center" src="{{root}}assets/img/holidays/bday-01.png" alt="С днем рождения!">
          {{/ifpage}}
          {{#ifpage 'bday-2'}}
          <img class="float-center" src="{{root}}assets/img/holidays/bday-02.png" alt="С днем рождения!">
          {{/ifpage}}
          {{#ifpage 'bday-3'}}
          <img class="float-center" src="{{root}}assets/img/holidays/bday-03.png" alt="С днем рождения!">
          {{/ifpage}}
          {{#ifpage 'bday-4'}}
          <img class="float-center" src="{{root}}assets/img/holidays/bday-04.png" alt="С днем рождения!">
          {{/ifpage}}
          {{#ifpage 'bday-5'}}
          <img class="float-center" src="{{root}}assets/img/holidays/bday-05.png" alt="С днем рождения!">
          {{/ifpage}}
        </center>
      </columns>

    </row>
  </wrapper>
</container>
