<container>
  <wrapper class="main">
    <row>

      <columns>
        <h1 class="text-center" style="margin-bottom: 15px; font-size: 20px; font-weight: bold; line-height: 43px">
          Привет, Андрей!
        </h1>
        <center>
          <a href="https://team.pixelplus.ru/personal/bonus/" target="_blank">
            {{#ifpage 'feb23-1'}}
            <img class="float-center" src="{{root}}assets/img/holidays/feb23-01.png" alt="С 23 февраля!">
            {{/ifpage}}
            {{#ifpage 'feb23-2'}}
            <img class="float-center" src="{{root}}assets/img/holidays/feb23-02.png" alt="С 23 февраля!">
            {{/ifpage}}
            {{#ifpage 'feb23-3'}}
            <img class="float-center" src="{{root}}assets/img/holidays/feb23-03.png" alt="С 23 февраля!">
            {{/ifpage}}
            {{#ifpage 'feb23-4'}}
            <img class="float-center" src="{{root}}assets/img/holidays/feb23-04.png" alt="С 23 февраля!">
            {{/ifpage}}
            {{#ifpage 'feb23-5'}}
            <img class="float-center" src="{{root}}assets/img/holidays/feb23-05.png" alt="С 23 февраля!">
            {{/ifpage}}
          </a>
        </center>
      </columns>

    </row>
  </wrapper>
</container>