<container>
  <wrapper class="main">
    <row>

      <columns>
        <h1 class="text-center" style="margin-bottom: 15px; font-size: 20px; font-weight: bold; line-height: 43px">
          Привет, Ксения!
        </h1>
        <center>
          {{#ifpage 'march8-1'}}
          <img class="float-center" src="{{root}}assets/img/holidays/march8-01.png" alt="С 8 марта!">
          {{/ifpage}}
          {{#ifpage 'march8-2'}}
          <img class="float-center" src="{{root}}assets/img/holidays/march8-02.png" alt="С 8 марта!">
          {{/ifpage}}
          {{#ifpage 'march8-3'}}
          <img class="float-center" src="{{root}}assets/img/holidays/march8-03.png" alt="С 8 марта!">
          {{/ifpage}}
          {{#ifpage 'march8-4'}}
          <img class="float-center" src="{{root}}assets/img/holidays/march8-04.png" alt="С 8 марта!">
          {{/ifpage}}
          {{#ifpage 'march8-5'}}
          <img class="float-center" src="{{root}}assets/img/holidays/march8-05.png" alt="С 8 марта!">
          {{/ifpage}}
        </center>
      </columns>

    </row>
  </wrapper>
</container>