<container>
  <wrapper class="main">
    <row>

      <columns>
        <h1 class="text-center" style="margin-bottom: 15px; font-size: 20px; font-weight: bold; line-height: 43px">
          Привет, Анастасия!
        </h1>
        <center>
          <a href="https://team.pixelplus.ru/personal/bonus/" target="_blank">
            {{#ifpage 'newyear-1'}}
            <img class="float-center" src="{{root}}assets/img/holidays/newyear-01.png" alt="C Новым годом!">
            {{/ifpage}}
            {{#ifpage 'newyear-2'}}
            <img class="float-center" src="{{root}}assets/img/holidays/newyear-02.png" alt="C Новым годом!">
            {{/ifpage}}
            {{#ifpage 'newyear-3'}}
            <img class="float-center" src="{{root}}assets/img/holidays/newyear-03.png" alt="C Новым годом!">
            {{/ifpage}}
            {{#ifpage 'newyear-4'}}
            <img class="float-center" src="{{root}}assets/img/holidays/newyear-04.png" alt="C Новым годом!">
            {{/ifpage}}
            {{#ifpage 'newyear-5'}}
            <img class="float-center" src="{{root}}assets/img/holidays/newyear-05.png" alt="C Новым годом!">
            {{/ifpage}}
          </a>
        </center>
      </columns>

    </row>
  </wrapper>
</container>