<container>
  <wrapper class="main">
    <row>

      <columns>
        <h1 class="text-center" style="margin-bottom: 15px; font-size: 20px; font-weight: bold; line-height: 43px">
          Привет, Сергей!
        </h1>
        <center>
          <a href="https://team.pixelplus.ru/personal/bonus/" target="_blank">
            {{#ifpage 'years1'}}
            <img class="float-center" src="{{root}}assets/img/holidays/years1.png" alt="С годом работы в студии!">
            {{/ifpage}}
            {{#ifpage 'years2'}}
            <img class="float-center" src="{{root}}assets/img/holidays/years2.png" alt="2 года работы в студии!">
            {{/ifpage}}
            {{#ifpage 'years3'}}
            <img class="float-center" src="{{root}}assets/img/holidays/years3.png" alt="3 года работы в студии!">
            {{/ifpage}}
            {{#ifpage 'years3-2'}}
            <img class="float-center" src="{{root}}assets/img/holidays/years3-02.png" alt="3 года работы в студии!">
            {{/ifpage}}
            {{#ifpage 'years3-3'}}
            <img class="float-center" src="{{root}}assets/img/holidays/years3-03.png" alt="3 года работы в студии!">
            {{/ifpage}}
            {{#ifpage 'years4'}}
            <img class="float-center" src="{{root}}assets/img/holidays/years4.png" alt="4 года работы в студии!">
            {{/ifpage}}
            {{#ifpage 'years5'}}
            <img class="float-center" src="{{root}}assets/img/holidays/years5.png" alt="5 лет работы в студии!">
            {{/ifpage}}
            {{#ifpage 'years6'}}
            <img class="float-center" src="{{root}}assets/img/holidays/years6.png" alt="6 лет работы в студии!">
            {{/ifpage}}
            {{#ifpage 'years6-2'}}
            <img class="float-center" src="{{root}}assets/img/holidays/years6-02.png" alt="6 лет работы в студии!">
            {{/ifpage}}
            {{#ifpage 'years7'}}
            <img class="float-center" src="{{root}}assets/img/holidays/years7.png" alt="7 лет работы в студии!">
            {{/ifpage}}
          </a>
        </center>
      </columns>

    </row>
  </wrapper>
</container>